
<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <!-- <span routerLink="/">Thesis-app</span> -->
    <button mat-button routerLink="/" aria-disabled="false">
  <span mat-button class="mat-button-wrapper">
    <img alt="angular" class="docs-angular-logo" src="../../assets/img/angular-white-transparent.svg">
    <span>ThesisApp</span>
  </span>
</button>

    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/order">Order</button>
    <button mat-button routerLink="/cancel">Cancel</button>

    &nbsp;&nbsp;<span class="example-spacer"></span>

    <button mat-button routerLink="/simulator">Simulator</button>
    <button mat-button routerLink="/control">Analytics</button>

  </mat-toolbar-row>
</mat-toolbar>
<div  *ngIf="showProgressBar"><mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar></div>
<br>


<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Thesis-app</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
        <li routerLinkActive="active"><a routerLink="/order">Order</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/cancel">Cancel</a></li>
      </ul>
    </div>
  </div> -->
  
<!-- </nav> -->
