<div class="row">
  <div class="col">
    <h3>Dashboard</h3>  <i>{{ dateNow }}</i> 
    <hr>   

  </div>
</div>

<div class="row">
  <!-- 
  <div class="col-sm-1">
    <button class="btn btn-primary" (click)="simulate()" disabled>Simulate</button>
  </div> -->
  <div class="col-sm-2">
    <button mat-raised-button color="primary" (click)="initialize()" [disabled]="disableInitialization">Initialize</button>
</div>
<!-- 
<div class="col-sm-1">
  <span matTooltip="DEVELOPMENT PURPOSE"><button mat-raised-button color="primary" (click)="createDefragSlots()">Create</button></span>
</div> -->
<!--
  <div class="col-sm-1">
    <select class="form-control">
      <option value="">
        1x
      </option>
      <option value="">
        2x
      </option>
      <option value="">
        3x
      </option>
    </select>
  </div> -->

  <div class="col-md-8">
      <!-- <h4 class="text-center">28 November 2017</h4> -->
       <form [formGroup]="dashboardForm">
         <div class="form-group">
        <input type="date" [(ngModel)]="selectedDate" formControlName="selectedDate" id="selectedDate" class="form-control">
        </div>
        </form>
    </div>
    <div class="col-sm-2">
        <button mat-raised-button color="primary" (click)="defragmentation()" [disabled]="disableDefragmentation">Defragmentation</button>
    </div>
</div>
 <hr>
<br>

<!-- no longer use progress spinner
<div  *ngIf="showSpinner">
  <mat-progress-spinner
      [color]="color"
      [mode]="mode" >
  </mat-progress-spinner></div>
-->

<div class="container">
<div class="row">
  <div class="col-sm-2">
<table class="table table-bordered">
  
     <tr *ngFor="let x of arr | filterBy: ['pos']: 1" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
    </tr> 
    <th *ngIf="arr.length >= 1" class="mid">
      1
    </th> 
</table>
</div>
  
<div class="col-sm-2">
<table class="table table-bordered">
    <tr *ngFor="let x of arr | filterBy: ['pos']: 2" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
      </tr>
      <th *ngIf="arr.length >= 1" class="mid">
      2
    </th>
</table>
</div>

<div class="col-sm-2">
<table class="table table-bordered">
    <tr *ngFor="let x of arr | filterBy: ['pos']: 3" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
      </tr>
      <th *ngIf="arr.length >= 1" class="mid">
      3
    </th>
</table>
</div>

<div class="col-sm-2">
<table class="table table-bordered">
    <tr *ngFor="let x of arr | filterBy: ['pos']: 4" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
      </tr>
      <th *ngIf="arr.length >= 1" class="mid">
      4
    </th>
</table>
</div>

<div class="col-sm-2">
<table class="table table-bordered">
    <tr *ngFor="let x of arr | filterBy: ['pos']: 5" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
      </tr>
      <th *ngIf="arr.length >= 1" class="mid">
      5
    </th>
</table>
</div>

<div class="col-sm-2">
<table class="table table-bordered">
    <tr *ngFor="let x of arr | filterBy: ['pos']: 6" class="mid">
        <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
      </tr>
      <th *ngIf="arr.length >= 1" class="mid">
      6
    </th>
</table>
</div>

</div>
</div>

<!-- ===================================================================================================== -->

<div class="container">
  <div class="row">
    <div class="col-sm-2">
  <table class="table table-bordered">
    <!--
    <tr>
      <th>
        A1
      </th>
    </tr>
  -->

       <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 1" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            1
          </th>
  </table>
  </div>

<div class="col-sm-2">
  <table class="table table-bordered">
      <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 2" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            2
          </th>
  </table>
  </div>
  
  <div class="col-sm-2">
  <table class="table table-bordered">
      <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 3" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            3
          </th>
  </table>
  </div>
  
  <div class="col-sm-2">
  <table class="table table-bordered">
      <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 4" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            4
          </th>
  </table>
  </div>
  
  <div class="col-sm-2">
  <table class="table table-bordered">
      <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 5" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            5
          </th>
  </table>
  </div>
  
  <div class="col-sm-2">
  <table class="table table-bordered">
      <tr *ngFor="let x of displayDefrag | filterBy: ['pos']: 6" class="mid">
          <span matTooltip="{{ x.polNum }}">   {{ x.time }} {{ x.isAvailable | toAlt }}   </span>
        </tr>
        <th *ngIf="displayDefrag.length >= 1" class="mid">
            6
          </th>
  </table>
  </div>
  
  </div>
  </div>

  <br>
    <div class="row">
  <p *ngIf="arr.length >= 1" class="proper"><i>*Hover over the time slots to view police number.</i></p>
</div>
<div class="row">
    <p *ngIf="arr.length >= 1" class="proper"><i>*To defrag, initialize beforehand.</i></p>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date: yMMMMd}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pos">
      <mat-header-cell *matHeaderCellDef> Pos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isAvailable">
      <mat-header-cell *matHeaderCellDef> isAvailable </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.isAvailable}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="polNum">
      <mat-header-cell *matHeaderCellDef> Police No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.polNum}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

<!-- 
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="time7">
      <mat-header-cell *matHeaderCellDef> Police No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.polNum}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: testColumns;"></mat-row>
  </mat-table>
-->


